body{
    background-color:  #FDD67C;
    margin: 0;
    width: 100%;
}

#real-top{
    background-color:  #FFF7E8;
}

/*상단바*/
#battle-top{
    display:flex;
    justify-content: space-between;
    padding: 50px 20px 0px 30px;
}

#write{
    font-size: 22px;
    font-weight: bold;
}

#nothing{
    width: 40px;
}

/*배틀 날짜*/
#battle-detail{
    display:flex;
    justify-content: flex-start;
    margin: 0px 30px;
    padding-bottom: 20px;
}

#detail-text{
    display:flex;
    flex-direction : column;
    justify-content: center;
    z-index: 2;
}

#date{
    font-size: 15px;
    font-weight: bold;
    z-index: 2;
}

#name{
    font-size: 25px;
    font-weight: bold;
}

#battle-detail > div > img{
    margin-left: -20px;
    z-index: 1;
}

/*배틀 진행표*/
#battle-progress{
    margin: 0px 30px;
    padding: 20px 0px;
    border-top: 1px solid #FDD67C;
    border-bottom: 1px solid #FDD67C;
}

.progress{
    margin: 0px 10px;
    background-color: white;
    border: 3px solid #FF5C00;
    height: 40px;
    border-radius: 40px;
    display:grid;
}

.progress > .first{
    background-color: #FF5C00;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 7px 0px;
}

#me > .progress{    /*비율맞춰서 수정 필요*/
    grid-template-columns: 60fr 40fr;
}
#other > .progress{
    grid-template-columns: 26fr 74fr;
}

#battle-progress > div > p {
    font-size: 18px;
    font-weight: bold;
}

#me > p{
    margin-left: 40px;
    margin-top: 5px;
}
#other > p{
    text-align: end;
    margin-right: 40px;
    margin-bottom: 5px;
}

#vs{
    text-align: center;
    font-size: 40px;
    margin: -30px;
    font-weight: bold;
}

/*누가 앞서고 있는지 표시*/
#text{
    padding: 30px 30px 70px 30px;
    font-size: 20px;
    font-weight: bold;
}

/*투두리스트*/
#battle-bottom{
    margin-top: -40px;
    background-color: #FDD67C;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 50px 30px 0px 30px;
}

#battle-bottom > div{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#todo-main{
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding-bottom: 20px;
}

#todo-list{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px 10px 0px;
    margin-left: 10px;
    border-bottom: white solid 2px;
}