body{
    background-color:  #FFF7E8;
    margin: 0;
    flex: grid;
}

/*상단바*/
#make-top{
    background-color:  #FDD67C;
    height: 310px;
}

#top-menubar{
    display: flex;
    justify-content: space-between;
}

#menu{
    padding: 70px 0px 0px 20px;
}

#logo{
    padding: 50px 0px 0px 0px;
}

#nothing{
    padding-right: 20px;
    width: 32px;
}

#make-start{
    margin: 45px 0px 0px 40px;
    text-align: start;
    font-size: 20px;
    line-height: 32px;
}

/*하단*/
#make-bottom{
    margin-top: -40px; /*-마진 값으로 둥근부분 보이도록!!!!*/
    background-color: #FFF7E8;
    height:100%;
    width: 100%;
    padding-top: 30px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

#fireImage{
    display:flex;
    justify-content: center;
    margin-bottom: -10px;
}

#getInform{
    display:flex;
    flex-direction : column;
    margin: 0px 40px;
}

#getInform > input, select, button{
    margin-top: 30px;
    height: 50px;
}

#getInform > input, select{
    border: 1px gray solid;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 15px;
}

#battle-date, #battle-categ{
    padding-right: 20px;
}

#getInform > #button{
    border: none;
    background-color: #FF5C00;
    border-radius: 15px;
    color:#FFF7E8;
    height: 65px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type='date']::before {
    content: attr(placeholder); 
    width: 100%;
    height: 100%;
}

select option[disabled] {
	display: none;
}