body{
    background-color: #FFF7E8;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px;
}

/*상단바*/
#join-top{
    background-color: #FDD67C;
    height: 150px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-bottom: 25px;
}

#top-menubar{
    display: flex;
    justify-content: space-between;
}

#menu{
    padding: 70px 0px 0px 20px;
}

#top-write{
    padding: 73px 0px 0px 0px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#nothing{
    padding-right: 20px;
    width: 32px;
}

/*하단바*/
#join-bottom{
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#text{
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

#text > span{
    font-weight: bold;
}

#about-code{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
}

label{
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}

input{
    border: 1px solid gray;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
}

#button{
    margin: 45px 40px;
}

button{
    border: none;
    background-color: #FF5C00;
    border-radius: 15px;
    color:#FFF7E8;
    height: 65px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 100%;
}