<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="../static/battle.css" rel="stylesheet">
    <script src="../changePage.js"></script>
    <script src="battle.js"></script>
    <title>Do battle</title>
</head>
<body>
<div id="real-top">
    <div id="battle-top">
        <div><img th:src="@{/image/arrow.svg}" onclick = "changePage('doingBattleList.html')"></div>
        <div id="write">배틀 상세보기</div>
        <div id="nothing"></div>
    </div>

    <div id="battle-detail">
        <div>
            <div id="detail-text">
                <span id="date">xx.xx~xx.xx<br></span>
                <span id="name">배틀 이름</span>
            </div>
            <div><img th:src="@{/image/small-fire.svg}"></div>
        </div>
        <div><img th:src="@{/image/calendar.svg}" onclick = "changePage('../calender.html')"></div>
    </div>

    <div id="battle-progress">
        <div id="me">
            <div class="progress">
                <div class="first">60%</div>
                <img th:src="@{/image/progress-face-1.svg}">
            </div>
            <p>김배틀</p>
        </div>

        <div id="vs">vs</div>

        <div id="other">
            <p>박상대</p>
            <div class="progress">
                <div class="first">26%</div>
                <img th:src="@{/image/progress-face-2.svg}">
            </div>
        </div>
    </div>

    <div id="text">김배틀님이 34% 차이로<br>앞서가고 있어요!</div>
</div>

<div id="battle-bottom">
    <div id="todo-main">
        <div>TO-DO</div>
        <img onclick="todoClick()" th:src="@{/image/todo-fire.svg}" style="cursor:pointer;">
    </div>

    <!-- <div>
        <div class="todo-list">오늘의 todo리스트입니다.</div>
        <img onclick="fireOrange(this)" src="../image/todo-fire.svg" value="notDone">
    </div> -->
</div>
</body>
</html>