<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="battleMakeSuccess.css" rel="stylesheet">
    <script src="../changePage.js"></script>
    <title>Do Battle</title>
</head>
<body>
    <div id="top">
        <div id="text">
            새로운 배틀 생성이<br>
            완료되었습니다!
        </div>
        <div>
            <img src="../image/battle-make-success.svg">
        </div>
        <div id="about-code">
            <label for="code">함께 배틀할 친구를 초대하세요!</label>
            <input type="text" name="code" id="code" placeholder="코드">
        </div>
    </div>

    <div id="button">
        <button onclick = "changePage('../main/main.html')">홈으로 돌아가기</button>
    </div>
</body>
</html>