<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="css/battle.css" rel="stylesheet">
    <script src="js/changePage.js"></script>
    <script src="js/battle.js"></script>
    <title>Do battle - 배틀</title>
</head>
<body>

<div id="real-top">
    <div id="battle-top">
        <div><img src="/image/arrow.svg" onclick = "changePage('doingBattleList')"></div>
        <div id="write">배틀 상세보기</div>
        <div id="nothing"></div>
    </div>

    <div id="battle-detail">
        <div>
            <div th:text="${battle.battleName}" id="detail-text">
                <span th:text="${battle.startDate} + ' ~ ' + ${battle.endDate}" id="date"><br></span>
                <span id="name"></span>
            </div>
            <div><img src="/image/small-fire.svg"></div>
        </div>
        <div><img src="/image/calendar.svg" onclick = "changePage('calender')"></div>
    </div>

    <div id="battle-progress">
        <div id="me">
            <div class="progress">
                <div class="first">60%</div>
                <img src="/image/progress-face-1.svg">
            </div>
            <p th:text="${currentUser.username}"></p>
        </div>

        <div id="vs">vs</div>

        <div id="other">
            <p th:text="${partnerUsernames}"></p>
            <div class="progress">
                <div class="first">26%</div>
                <img src="/image/progress-face-2.svg">
            </div>
        </div>
    </div>

    <div id="text">김배틀님이 34% 차이로<br>앞서가고 있어요!</div>
</div>

<div id="battle-bottom">
    <div id="todo-main">
        <div>TO-DO</div>
        <img onclick="todoClick()" src="/image/todo-fire-make.svg" style="cursor:pointer;">
    </div>

    <div id="1">  <!--id값 변경 필요-->
        <div class="todo-list">오늘의 todo리스트입니다.</div>
        <input type="button" class="fire-button" value="notDone" onclick = "fireOrange(1);">
    </div>
</div>
</body>

<style th:inline="javascript">
    /*<![CDATA[*/
    function persent(){
        let whoWin = document.getElementById(text);
        whoWin.
    }
    /*]]>*/
</style>
</html>