<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link href="../css/battle.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../js/changePage.js"></script>
  <script src="../js/percentCalc.js"></script>
  <!--  <script src="../js/battle.js"></script>-->
  <title>Do battle - 배틀</title>
</head>
<body>

<div id="real-top">
  <div id="battle-top">
    <div><img src="/image/arrow.svg" onclick="changePage('../doingBattleList')"></div>
    <div id="write">배틀 상세보기</div>
    <div id="nothing"></div>
  </div>

  <div id="battle-detail">
    <div>
      <div id="detail-text">
        <span id="date">xx.xx~xx.xx<br></span>
        <span th:text="${battleName}" id="name">배틀 이름</span>
      </div>
      <div><img src="/image/small-fire.svg"></div>
    </div>
    <div><img src="/image/calendar.svg" onclick="goToBattlePage(this)"></div>
  </div>

  <div id="me">
    <div class="progress">
      <div class="first" th:text="${currentUserPercentage != null ? currentUserPercentage.achievementRate : '0'}"></div>
      <img src="/image/progress-face-1.svg">
    </div>
    <p id="currentUserUsername" th:text="${currentUser.username}">김배틀</p>
  </div>

  <div id="vs">vs</div>

  <div th:each="partnerDTO, index : ${partnerDTOs}" id="other">
    <p th:text="${partnerDTO.partnerUsername}">박상대</p>
    <div class="progress">
      <div class="first" th:text="${partnerDTO.partnerPercent != null ? partnerDTO.partnerPercent + '%' : 'null'}"></div>
      <!--이거 파트너유저의 퍼센트가 없을시 null로 반환하라는 건데 나중에는 0% 반환하는 걸로 고치면 될듯 지금은 오류잡기 쉬울려고.. 걍 냅둠-->
      <img src="/image/progress-face-2.svg">
    </div>
  </div>

  <div id="text">김배틀님이 34% 차이로<br>앞서가고 있어요!</div>
</div>

<div id="battle-bottom">
  <div id="todo-main">
    <div>TO-DO</div>
    <img onclick="todoClick()" src="/image/todo-fire-make.svg" style="cursor:pointer;">
  </div>

  <form th:action="@{'/battle/' + ${battleCode} + '/updateTodoData'}" method="post"
        th:each="todoData : ${todoDataList}"
        th:if="${todoData.userIdentify eq currentUser.identify}">
    <input type="hidden" name="todoDataId" th:value="${todoData.id}">
    <div th:text="${todoData.todoDataValue}" class="todo-list">오늘의 todo리스트입니다.</div>
    <input type="submit" name="value" class="fire-button" th:value="${todoData.value}" onclick="changeValueAndSubmit(this);">
  </form>

</div>

<script th:inline="javascript">
/*<![CDATA[*/
    //날짜 월.일만 보이게 하기 위한
    let start = /*[[${startDate}]]*/;
    var splitStart = start.split('-');
    let startDate = splitStart[0].slice(-2) + '.' + splitStart[1] + '.' + splitStart[2];

    let end = /*[[${endDate}]]*/;
    var splitEnd = end.split('-');
    let endDate = splitEnd[0].slice(-2) + '.' + splitEnd[1] + '.' + splitEnd[2];

    document.querySelector('#date').innerText = startDate + '~' +endDate;


    //오늘날짜것만 들고 오기 위한 날짜 저장


    //폼태그에 경로 추가
    var battleCode = /*[[${battleCode}]]*/;
/*]]>*/


//상대방 이름 vs 지우기
let originalString = document.querySelector('#other > p');
let modifiedString = originalString.innerText.replace("vs", "").trim();
originalString.innerText = modifiedString;


//캘린더로 이동용
  function goToBattlePage(element) {
    var battleCode = /*[[${battleCode}]]*/;
    window.location.href = '/calender/detail?battleCode=' + battleCode;
  }

function todoClick() {
  while (txtFieldNum === 0) {
    let todo;   //입력한 문구 저장용
    let battleBottom = document.getElementById("battle-bottom");

    let newDiv = document.createElement("form"); // 전체 감쌀 div
    newDiv.setAttribute("method", "post");
    newDiv.setAttribute("action", '/battle/' + battleCode + '/saveTodoData');

    let newText = document.createElement("input");  //입력받을 창
    newText.type = "text";
    newText.className = "input-text";
    newText.placeholder = "입력";
    newText.name = "todoDataValue";

    let hiddenInput1 = document.createElement("input");   //기본 value 값 지정용
    hiddenInput1.type = "hidden"; // 숨겨진 필드로 데이터 전달
    hiddenInput1.name = "value"; // 백엔드에서 사용
    hiddenInput1.value = 'notDone';

    battleBottom.appendChild(newDiv);
    newDiv.appendChild(newText);
    newDiv.appendChild(hiddenInput1);

    txtFieldNum++; // 줄줄이 방지

    newText.addEventListener("keyup", function (event) {
      if (event.key === "Enter") {
        const form = self.closest('form');
        if(form){
          form.submit();
        } //폼 그냥 바로 제출

        txtFieldNum--;
      }
    });
  }
}

</script>

<script src="../js/battle.js"></script>

</body>
</html>