<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="css/doingBattleList.css" rel="stylesheet">
    <script src="js/changePage.js"></script>
    <script src="js/doingBattleList.js"></script>
    <title>Do Battle - 진행중인 배틀들</title>
</head>
<body>
<div id="main-top">
    <div id="top-menubar">
        <div id="menu">
            <img src="/image/menu-yellow.svg" onclick = "changePage('menubar.html')">
        </div>
        <div id="top-write">
            진행중인 배틀
        </div>
        <div id="nothing"></div>
    </div>
</div>

<ul>
    <li th:each="battle : ${joinedBattles}">
        <div>
            <h2 th:text="${battle.battleName}"></h2>
            <p>카테고리: <span th:text="${battle.battleCategory}"></span></p>
            <p>기간: <span th:text="${battle.startDate} + ' ~ ' + ${battle.endDate}"></span></p>
        </div>
    </li>
</ul>

</body>
</html>