<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="joinBattleSuccess.css" rel="stylesheet">
    <script src="../changePage.js"></script>
    <title>Do battle</title>
</head>
<body>
    <div id="top">
        <div id="text">
            배틀 참여가<br>
            완료되었습니다!
        </div>
        <div>
            <img src="../image/success.svg">
        </div>
        <div id="about-code">새로운 배틀도 화이팅!</div>
    </div>

    <div id="button">
        <button onclick = "changePage('../main/main.html')">바로 보러가기</button>
    </div>
</body>
</html>