<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="login.css" rel="stylesheet">
    <script src="../changePage.js"></script>
    <title>Do battle</title>
</head>
<body>
<div id="logo">
    <img src="../image/logo-orange.svg">
</div>

<div id="login">
    <input type="text" placeholder="ID" id="id" required>
    <input type="password" placeholder="PW" id="pw" required>
    <input type="submit" value="로그인" id="button" onclick="changePage('login.html')">
    <button onclick="changePage('/templates/signup.html')">회원가입</button>
</div>

<script>
        function changePage(pageName) {
            window.location.href = pageName;
        }
    </script>
</body>
</html>
</html>