<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main.css" rel="stylesheet">
    <script src="../changePage.js"></script>
    <title>Do Battle</title>
</head>
<body>
    <div id="main-top">
        <div id="top-menubar">
            <div id="menu">
                <img src="../image/menu-yellow.svg" onclick = "changePage('menubar.html')">
            </div>
            <div id="logo">
                <img src="../image/logo-yellow.svg">
            </div>
        </div>
        <div id="welcome"> 
            <b>어서오세요 김배틀님!<br></b>
            오늘도 배틀할 준비가 되셨나요?
        </div>
    </div>

    <div id="main-bottom">
        <div id="example-1">
            <div id="write"><b>최근 가장 잘 하고 있는 배틀</b></div>
            <div id="bottom-box">
                <div id="battle-name">배틀이름</div>
                <div id="battle-date">xx.xx~xx.xx</div>
                <div id="versus">vs 상대이름</div>
            </div>
        </div>
    </div>
</body>
</html>