<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="js/changePage.js"></script>
<!--    <script src="js/practice.js"></script>-->
    <title>Do Battle - main</title>
</head>
<body>
    <!--<h1 th:text="'환영합니다, ' + ${currentUser.username} + '님!'"></h1>-->
    <div id="main-top">
        <div id="top-menubar">
            <div id="menu">
                <img src="image/menu-yellow.svg" onclick = "changePage('menu.html')">
            </div>
            <div id="logo">
                <img src="/image/logo-yellow.svg">
            </div>
        </div>
        <div id="welcome">
            <b>어서오세요 <span th:text="${currentUser.username}"></span>님!<br></b>
            오늘도 배틀할 준비가 되셨나요?
        </div>
    </div>

    <div id="main-bottom">
        <div onclick="changePage('battle')">
            <div class="write">최근 가장 잘 하고 있는 배틀</div>
            <div class="bottom-box">
                <div class="battle-name">배틀이름</div>
                <div class="battle-date">xx.xx~xx.xx</div>
                <div class="versus">vs 상대이름</div>
            </div>
        </div>

        <div onclick="changePage('battle')">
            <div class="write">조금 더 힘내야하는 배틀</div>
            <div class="bottom-box">
                <div class="battle-name">배틀이름</div>
                <div class="battle-date">xx.xx~xx.xx</div>
                <div class="versus">vs 상대이름</div>
            </div>
        </div>

        <div onclick="changePage('battle')">
            <div class="write">가장 오랫동안 참여한 배틀</div>
            <div class="bottom-box">
                <div class="battle-name">배틀이름</div>
                <div class="battle-date">xx.xx~xx.xx</div>
                <div class="versus">vs 상대이름</div>
            </div>
        </div>

        </div>
    </div>

</body>
</html>