<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="makeBattle.css" rel="stylesheet">
  <script src="changePage.js"></script>
  <title>Do Battle - 배틀 생성</title>
</head>

    <div id="make-bottom">
      <div id="fireImage">
        <img th:src="@{/image/fire.svg}">
      </div>
      <form action="/makeBattle" method="post" id="getInform">
      <!-- 필요한 입력 요소들을 추가 -->
      <input type="text" name="battleName" placeholder="배틀 이름" required id="make-battle-name">
      <select name="battleCategory">
        <option disabled selected>배틀 카테고리</option>
        <option value="study">공부</option>
        <option value="exercise">운동</option>
        <option value="habit">습관</option>
        <option value="food">식단</option>
        <option value="book">독서</option>
      </select>
      <input type="text" name="startDate" placeholder="시작일 (yyyy-mm-dd)" required>
      <input type="text" name="endDate" placeholder="종료일 (yyyy-mm-dd)" required>
      <input type="submit" value="배틀 생성"> // changeJS 제거
    </form>
  </div>
</body>
</html>


