<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="menubar.css" rel="stylesheet">
    <script src="../changePage.js"></script>
    <title>Do battle</title>
</head>
<body>
    <div id="logo-bar">
        <div id="menu">
            <img src="../image/menu-orange.svg" onclick = "changePage('main.html')">
        </div>
        <div id="logo">
            <img src="../image/logo-orange.svg">
        </div>
    </div>

    <div id="menu-bar">
        <div><a href="main.html">메인페이지</a></div>
        <div><a href="../makeBattle/makeBattle.html">배틀만들기</a></div>
        <div><a href="../doingBattle/doingBattleList.html">진행중인 배틀</a></div>
        <div><a href="../makeBattle/joinBattle.html">배틀 참여하기</a></div>
        <div><a href="#">마이페이지</a></div>
    </div>
</body>
</html>