<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link href="css/makeBattle.css" rel="stylesheet">
  <!--  <script src="js/makeBattle.js"></script>-->
  <script src="js/dateConfirm.js"></script>
  <script src="js/changePage.js"></script>
  <title>Do Battle - 배틀 생성</title>
</head>
<body>
<div id="make-top">
  <div id="top-menubar">
    <div id="menu">
      <img src="/image/menu-yellow.svg" onclick = "changePage('menu.html')">
    </div>
    <div id="logo">
      <img src="/image/logo-yellow.svg">
    </div>
    <div id="nothing"></div>
  </div>
  <div id="make-start">
    <span th:text="${currentUser.username}"></span>님의 <br>
    새로운 배틀을 시작합니다.
  </div>
</div>

<div id="make-bottom">
  <div id="fireImage">
    <img src="/image/fire.svg">
  </div>
  <form action="/makeBattle" method="post" id="getInform" th:if="${currentUser != null}" onsubmit="return dateConfirm();">
    <input type="text" name="battleName" placeholder="배틀 이름" required id="make-battle-name">
    <select name="battleCategory" id="battle-categ" required>
      <option disabled selected>배틀 카테고리</option>
      <option value="study">공부</option>
      <option value="exercise">운동</option>
      <option value="habit">습관</option>
      <option value="food">식단</option>
      <option value="book">독서</option>
    </select>
    <input type="date" name="startDate" placeholder="배틀 시작 " id="startDate" required>
    <input type="date" name="endDate" placeholder="배틀 종료 " id="finishDate" required>
    <input type="submit" value="배틀 시작!" id="button" onsubmit="return dateConfirm();">
  </form>
</div>
</body>
</html>
